// Stylus 用法 参考	https://www.zhangxinxu.com/jq/stylus/selectors.php
@import "./btn.styl"
body
	height 100%
	-moz-osx-font-smoothing grayscale
	-webkit-font-smoothing antialiased
	text-rendering optimizeLegibility
	font-family Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif
label
	font-weight 700
html
	height 100%
	box-sizing border-box
#app
	height 100%
*, * before, * after
	box-sizing inherit
.no-padding
	padding 0px !important
.padding_content
	padding 4px 0
// main-container全局样式
.app_container
	padding 20px
.text-center
	text-align center
//分页
.pagination-container
	margin-top 30px
